# Database Configuration
DB_USER=orp_admin
DB_PASSWORD=CHANGE_ME_STRONG_DB_PASSWORD
DB_NAME=orp_database

ADMIN_USERNAME=orp_admin
ADMIN_PASSWORD=CHANGE_ME_STRONG_ADMIN_PASSWORD

USE_HTTPS=true
PUBLIC_API_URL=https://[IP_ADDRESS] # Enter your actual server IP
JWT_SECRET_KEY=CHANGE_ME_64_CHAR_RANDOM_HEX_HERE # 64 symbol JWT key