# Database Configuration
DB_USER=orp_admin
DB_PASSWORD=strongpassword123
DB_NAME=orp_database

ADMIN_USERNAME=orp_admin
ADMIN_PASSWORD=supermegastrongpassword123

USE_HTTPS=true
PUBLIC_API_URL=https://192.0.0.0 # Enter your actual server IP
JWT_SECRET_KEY="0000000000000000000000000000000000000000000000000000000000000000" # 64 symbol JWT key